@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', Regular;
    background-color: #83BCFF;
    background-image: url("images/background.png");
    background-repeat: repeat;
    text-align: center;
}

.links {
    text-align: left;
    margin-left: 50px;

}
/* Style for each link */
.links a {
    padding: 10px; /* Add padding for space around each link */
    margin-left: 100px; /* Add margin right for space between each link horizontally */
    text-decoration: none; /* Remove underline */
    transition: none; /* Remove transition animation */
    color: #333; /* Set text color */
   
}

 /* Add hover effect */
 .links a:hover {
    text-decoration: none; /* Remove underline */
    background-color: transparent; /* Set background to transparent */
    color: #ae6161; /* Set text color */
}

/* Apply styles to links with the class "game-link" */
.game-link {
  display: inline-block; /* Make the link behave like a block-level element */
  padding: 10px 20px; /* Add padding for spacing */
  background-color: #007bff; /* Set background color */
  color: #fff; /* Set text color */
  text-decoration: none; /* Remove underline */
  border: 2px solid #007bff; /* Add border */
  border-radius: 5px; /* Add rounded corners */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition for smoother hover effect */
  position: relative;
  top: 60px; 
  
}

 /* Add hover effect */
 .game-link:hover {
  background-color: #0056b3; /* Change background color on hover */
  border-color: #0056b3; /* Change border color on hover */
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  
  /* .parent {
    position: relative;
    top: 0;
    left: 0;
  } */

