@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', Regular;
    background-color: #83BCFF;
    background-image: url("images/background.png");
    background-repeat: repeat;
    text-align: center;
}